.inputsWrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 4rem;
    margin-bottom: 1rem;
}

.getPublicButton {
    margin-top: 0.5rem;
}

.formFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 25%;
}

.formFooterItem {
    margin-right: 0.5rem;
}

.getPublicGistsWrapper {
    border-right: 1px solid #dfdfdf;
    padding-right: 4rem;
}