@import '~antd/dist/antd.css';

/*
colors

nav-background: #42CAFD;
 */

h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
}

body {
  font-fize: 16px;
}

.main {
  display: grid;
  grid-template-columns: 70% 30%;
  min-height: 74vh;
}
